.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.log
AISMR/build/bin/
AISMR/wailsjs/
AISMR/go.work
AISMR/frontend/node_modules/
AISMR/frontend/dist/
AISMR/frontend/.env
AISMR/core/python/
AISMR/core/models/
AISMR/core/bin/
**/__pycache__/
*.pyc
AISMR/core/cache/
AISMR/config.json